*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
}
#btn-container{
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    align-items: center;
    min-height: 100px;
}

.slider-unique{
    height: 70vh;
    background-image: url("https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg");
    background-size: cover;
    color:white;
    text-align: center;
}

.text{
   position: relative;
   top: 150px;
}

.placeholder{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: 20px;
}