*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
}

h1{
    color: white;
}

.slider{
    height: 70vh;
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg);
    background-size: cover;
    text-align: center;
}



